/* Custom Topbar CSS */

.navbar-header {
	width: 15%;	
}

.navbar-brand {
	width: 100%;
}

.logo-container {
	height: 100%;
	top: 0;
}

.logo-container img {
	height: inherit;
	cursor: pointer;
}

.search-form {
   width: 70%;
   margin: auto;
   padding: 7px;
}

.search-placeholder {
   width: 80%;
   padding: 8px 15px;
   background: #fff;
   border: 0px solid #00bfff;
   border-radius: 2px;
}

.search-button {
   position: relative;
   margin-left: 10px;
   padding: 8px;
	left: -5px;
	border: 0px solid #00bfff;
	background-image: url(../img/search-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #00bfff;
	color: #fff;
}

.search-button:hover  {
	background-color: #a2dcf0;
	color: #00bfff;
}

.arrow {
	position: relative;
	left: -5px;
	background: #00bfff;
	padding: 9px;
	border-radius: 2px;
}

.arrow:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(32, 124, 202, 0);
	border-right-color: #00bfff;
	border-width: 10px;
	margin-top: -10px;
}

.arrow:hover {
	background-color: #a2dcf0;
	color: #00bfff;	
}
.welcome-msg{
	color:#fff;
	padding:10px;
	margin-right:10px;
}
/* Login form */
